@import '../../constants/styles.constants';

.root {
  margin: 0 0 1rem;
  font-weight: $fontWeightMedium;
  font-size: $fontSizeTitle3;
  line-height: 1.5;
  text-align: left;
  text-transform: uppercase;

  @include max(s) {
    font-size: $fontSizeBiggestText;
  }
}

.center {
  text-align: center;
}