@import 'constants/styles.constants';

.wrapper {
  margin-bottom: 1rem;
}

.input {
  height: 3rem;
  border: 1px solid gray;
  border-radius: 5px;
  display: block;
  width: 240px;
  padding: .5rem;
  font-size: $fontSizeText;
}

.error {
  padding-top: .3rem;
  color: $backgroundToastRed;
}