@import 'constants/styles.constants';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  min-width: 100vw;
  height: 100%;
  min-height: 100vh;
  overflow-y: auto;
}

.noScroll {
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $colorBackgroundAlpha90;
}

%cardWrapper {
  position: relative;
  top: 5%;
  left: 50%;
  max-width: 60rem;
  margin-bottom: 5%;
  transform: translateX(-50%);
  box-shadow: 0 0 13px 3px rgba(0,0,0,.05);
  background-color: $colorWhite;
}

.cardWrapper-ALERT {
  @extend %cardWrapper;
  top: 50%;
  width: 50rem;
  transform: translateX(-50%) translateY(-55%);
}

.cardWrapper-FULL {
  @extend %cardWrapper;
  max-width: 95%;
}

.cardWrapper-XXL {
  @extend %cardWrapper;
  max-width: 80rem;
}

.cardWrapper-XL {
  @extend %cardWrapper;
  max-width: 70rem;
}

.cardWrapper-L {
  @extend %cardWrapper;
  max-width: 60rem;
}

.cardWrapper-M {
  @extend %cardWrapper;
  max-width: 40rem;
}

.cardWrapper-S {
  @extend %cardWrapper;
  max-width: 30rem;
}

.card {
  padding: 1rem;
}

.crossBlock {
  flex-basis: 10%;
}

.title {
   display: block;
   flex-basis: 90%;
   text-align: left;
 }