@import 'constants/styles.constants';

.backDrop {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-color: var(--colorPrimary);

  -webkit-transition: opacity 2s ease-out;
  -moz-transition: opacity 2s ease-out;
  transition: opacity 2s ease-out;
  z-index: 1000;

  &:hover {
    cursor: pointer;
  }
}

.backDropOpened {
  display: block;
  opacity: 0.95;
}

.collapsible {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

  background-color: $colorWhite;
  max-width: 360px;
  position: fixed;
  left: -90%;
  top: 0;
  bottom: 0;
  width: 90%;
  z-index: 1000;

  padding: 24px 0;
}

.collapsibleOpened {
  left: 0;
}

.crossBars {
  width: 40px;
  height: 40px;
  top: 15px;
  right: 15px;
  position: absolute;
  z-index: 1;

  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;

  &:hover,
  &:focus {
    cursor: pointer;
  }

  display: block;

  div {
    background-color: var(--textColor);
    position: absolute;
    height: 2px;
    border-radius: 1px;
    width: 50%;
    top: 20px;
    left: 12px;

    &:first-child {
      transform: rotate(-45deg);
    }

    &:last-child {
      transform: rotate(45deg);
    }
  }
}

.crossBarsClosed div {
  &:first-child {
    opacity: 0;
  }

  &:last-child {
    opacity: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.title {
  font-size: 12px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 10px;
  list-style: none;
  color: rgba(153, 153, 153, 0.5);
  width: 100%;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 600;
  padding-left: 1.5rem;
}

.reloadPage {
  bottom: 15px;
  left: 15px;
  position: absolute;
  z-index: 1;
  color: var(--textColor);

  font-size: 17px;
  line-height: 23px;
  font-family: var(--titleColor);

  &:hover,
  &:focus {
    cursor: pointer;
  }

  i {
    padding-right: 10px;
  }
}