@import 'constants/styles.constants';

.navBar {
  height: 80px;
  display: flex;

  -webkit-transition: top 0.5s linear;
  -moz-transition: top 0.5s linear;
  transition: top 0.5s linear;
  box-shadow: 0 0 13px 3px rgba(0,0,0,.05);
}

.navBarFixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 106px;
  background: $colorWhite;
  box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.05);
  z-index: 1000;

  @include max(xs) {
    height: 70px;
  }
}

.container {
  height: 100%;
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
}

.brand {
  transform: scale(0.5);

  @include max(sm) {
    align-self: center;
  }
}

.brandImage {
  height: 68px;
  vertical-align: unset;
  margin-bottom: 20px;
  width: 127px;
  font-size: 16px;

  @include max(sm) {
    margin-top: 5px;
    height: 58px;
  };
}

.menuBars {
  width: 17px;
  height: 14px;
  position: absolute;
  right: 10px;
  z-index: 1;
  top: 46px;
  display: none;

  @include max(md) {
    right: auto;
    left: 10px;
  };

  @include max(sm) {
    display: block;
    top: 28px;
  };

  &:hover,
  &:focus {
    cursor: pointer;
  }

  div {
    background-color: $colorBlack;
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 1px;

    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    &:first-child {
      top: 0;
    }

    &:nth-child(2) {
      top: 6px;
    }

    &:last-child {
      bottom: 0;
    }
  }
}

.menuBarsOpened div {
  &:first-child {
    transform: translate(-90px) rotate(45deg);
    opacity: 0;

    @include max(md) {
      transform: translate(90px) rotate(45deg);
    };
  }

  &:nth-child(2) {
    opacity: 0;
  }

  &:last-child {
    transform: translate(-90px) rotate(-45deg);
    opacity: 0;

    @include max(md) {
      transform: translate(90px) rotate(-45deg);
    };
  }
}

.navBarContent {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 100%;
}