@import 'constants/styles.constants';

.navBarItem {
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 10px 10px 8px;

  -webkit-transition: color .2s ease-out;
  -moz-transition: color .2s ease-out;
  transition: color .2s ease-out;

  &:hover,
  &:focus,
  &.isActive {
    text-decoration: none;
    color: var(--colorPrimary);
  }

  &:hover,
  &:focus{
    cursor: pointer;
  }
}

.navBarItem:hover, .navBarItem.active {
  color: var(--colorPrimary);
}

.navBarItemMobile {
  color: var(--textColor);

  font-size: $fontSizeText;
  line-height: 1.1;
  padding-top: .3rem;
  padding-bottom: .3rem;
  margin-top: .1rem;
  margin-bottom: .1rem;
  padding-left: 1.5rem;

  &:hover,
  &:focus {
    cursor: pointer;
  }

  i {
    padding-right: 10px;
  }
}

.hideM {
  @include max(m) {
    display: none;
  }
}

.showM {
  @include min(m) {
    display: none;
  }
}