@import 'constants/styles.constants';

.root {
  position: relative;
  justify-content: center;
  min-width: 11.25rem;
  height: 3.75rem;
  padding-right: 1.625rem;
  padding-left: 1.625rem;
  font-weight: $fontWeightMedium;
  font-size: $fontSizeButton;
  text-transform: uppercase;
  background: none;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  box-shadow: $boxShadowContextMenu;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 1.6rem;

  span.disabledReason, span.errorReason {
    position: absolute;
    top: 110%;
    left: -5%;
    width: 110%;
    overflow: hidden;
    color: $colorGray;
    font-size: $fontSizeSmallestText;
    text-align: center;
  }

  span.errorReason {
    color: $backgroundToastRed;
  }

  &:focus {
    outline: none;
  }
}

.hidden {
  visibility: hidden;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
}

a.root {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.anyWidth {
  min-width: unset;
  @include ie-only() {
    min-width: inherit;
  }
}

.primary {
  color: $colorWhite;
  background: var(--colorPrimary);
  border-color: var(--colorPrimary);
  box-shadow: $boxShadowButton;

  &:hover,
  &:focus {
    color: $colorWhite;
    background-color: var(--colorSecondary);
    border-color: var(--colorSecondary);
  }
}

.white {
  color: var(--colorSecondary);
  background-color: $colorWhite;
  border-color: $colorWhite;

  &:hover,
  &:focus {
    color: var(--colorSecondary);
    border-color: var(--colorSecondary);
  }
}

.transparent {
  color: var(--colorMain);
  background-color: unset;
  border-color: var(--colorMain);
  @include ie-only() {
    background-color: transparent;
  }

  &:hover,
  &:focus {
    color: $colorWhite;
    background-color: var(--colorSecondary);
    border-color: var(--colorSecondary);
  }
}

.secondary {
  color: $colorWhite;
  background: var(--colorSecondary);
  border-color: var(--colorSecondary);

  &:hover,
  &:focus {
    background: var(--colorSecondaryHover);
    border-color: var(--colorSecondaryHover);
  }
}

.disabled {
  color: $colorWhite;
  background-color: $colorGray;
  border-color: $colorGray;
  pointer-events: none;
}

.marginBottom {
  margin-bottom: 1.5rem;
}