@import 'constants/styles.constants';

.content {
  display: flex;
  flex-wrap: wrap;
}

.bottom {
  flex-basis: 100%;
  text-align: center;
}

.switchLink {
  color: var(--colorPrimary);
  font-weight: $fontWeightMedium;

  &:hover {
    cursor: pointer;
    color: var(--colorPrimaryHover);
  }
}

.bottomInner {
  display: inline-block;
  padding-top: 1rem;
  margin-top: 1rem;
  border-top: 1px solid black;
  line-height: 2;
}