@import 'constants/styles.constants';

.button {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.input {
  height: 3rem;
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 1rem;
  display: block;
  padding: .5rem;
  font-size: $fontSizeText;
}