.cross {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;

  &:hover {
    cursor: pointer;
  }

  div {
    position: absolute;
    top: 1rem;
    left: 0;
    width: 100%;
    height: 0.1rem;
    background-color: var(--colorPrimary);
  }

  div:first-child {
    transform: rotate(45deg);
  }

  div:last-child {
    transform: rotate(-45deg);
  }
}
