html,
body {
  margin: 0;
  padding: 0;

  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--textColor);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
