@import 'constants/styles.constants';

.notificationContainer {
  position: fixed;
  z-index: 3000;
  box-sizing: border-box;
  font-size: $fontSizeText;

  button.delete {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 1rem;
    height: 1rem;
    padding: 0;
    background: transparent;
    border: hidden;
    outline: none;
    cursor: pointer;

    svg:hover {
      stroke: #000 !important;
    }
  }
}

.hidden {
  display: none;
}

.topCenter {
  top: 5%;
  right: calc(50% - 15rem);
  transition: transform 0.6s ease-in-out;
  animation: toast-in-center 0.7s;
}

.notification {
  width: 30rem;
  margin: 0 0 0.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: $boxShadowImage;
  transition: 0.3s ease;
  pointer-events: auto;

  &:hover {
    box-shadow: $boxShadowEqual;
  }
}

.notificationTitle {
  height: 2.3rem;
  margin-top: 0;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  font-weight: $fontWeightSemiBold;
  font-size: $fontSizeBiggerText;
  text-align: left;
}

.withBorder {
  border-bottom: 1px solid $colorBackgroundAlpha30;
}

.notificationMessage {
  margin: 0;
  text-align: left;
  word-wrap: break-word;
}

.notificationImage {
  float: left;
  margin-right: 1rem;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.toast {
  width: 25rem;
  color: $colorWhite;
}

.SUCCESS {
  background-color: $backgroundToastGreen;
}

.DANGER {
  background-color: $backgroundToastRed;
}

.WARNING {
  background-color: $backgroundToastOrange;
}

.INFO {
  background-color: $backgroundToastBlue;
}

@keyframes toast-in-center {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0%);
  }
}
